/*This file contains all the css style.*/
@font-face{
    src:url(node_modules/bootstrap/fonts/glyphicons-halflings-regular.ttf) format('truetype');
}
body{
    background-image: url(../images/book-bg.jpg);
}
.loginMain{
    width: 20%;
    background-color: #ffffff;
    margin-top: 18%;
    border-top: 0.5px solid #A9A9A9;
    border-left: 0.5px solid #A9A9A9;
    border-right: 0.5px solid #A9A9A9;
    border-bottom: 0.5px solid #A9A9A9;
    /*border-radius: 5px 5px 5px 5px;*/
    padding-right: 0px;
    padding-left: 0px;
}
.login_head{
    text-align: center;
    background-color: #8c8c8c;
}
.title{
    margin-top: 0px;
}
.label_head{
    margin-left: 40%;
}
.new_user{
    margin-left: 30%;
}
.mar-top{
    margin-top: 5px;
}

