<div class="container loginMain">
    <header class="login_head">
        <h1 class="title">Register</h1>
    </header>
    <section>
        <form>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Name : </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="name" placeholder="Name" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label mar-top">Email : </label>
                <div class="col-sm-8 mar-top">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-4 control-label mar-top">Gender : </label>
                <div class="col-sm-8 mar-top">
                    <input type="text" class="form-control" name="gender" placeholder="Gender">
                </div>
            </div>
            <div class="form-group">
                <label for="user_type" class="col-sm-4 control-label mar-top">User Type : </label>
                <div class="col-sm-8 mar-top">
                    <input type="text" class="form-control" name="user_type" placeholder="Admin or Employee">
                </div>
            </div>
            <div class="form-group">
                <label for="location" class="col-sm-4 control-label mar-top">Location : </label>
                <div class="col-sm-8 mar-top">
                    <input type="text" class="form-control" name="location" placeholder="Location">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 mar-top">
                    <button class="btn btn-default label_head">Sign Up</button>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </form>
    </section>
</div>

