<div class="container loginMain">
    <header class="login_head">
        <h1 class="title">Login</h1>
    </header>
    <section>
        <form>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    <label for="email" class="label_head">Username</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    <label for="password" class="label_head">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <button class="btn btn-default label_head" ng-click="login();">Sign In</button>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <h5 class="new_user">
                    <a href="#/register">New User?</a>&nbsp;
                    <a href="javascript:void(0);">Forgot Password.</a>
                </h5>
            </div>
        </form>
    </section>
</div>

